<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<style>
    .layout{
        width:500px;
        margin:0 auto;
        margin-top:40px;
    }
</style>
<body>
    <div class="layout">
        <button type="button" onclick="location.href='/board/writeView'">글 작성</button>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="boardlist : ${list}">
                    <td th:text="${boardlist.id}"></td>
                    <td>
                        <a th:text="${boardlist.title}" th:href="@{/board/readView(id=${boardlist.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : darkred"></strong>
        </th:block>
        <form th:action="@{/board/list}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
    </div>
</body>
</html>