<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">

	<!-- 댓글 조회 -->
	<select id="readReply" resultType="com.board.domain.ReplyDTO">
    	SELECT
    		  rseq, content, writer, regist_date
    	 FROM REPLY
    	WHERE seq = #{seq}
	</select>

	<!-- 댓글 작성 -->
	<insert id="writeReply">
		INSERT INTO REPLY(
			seq,
			rseq,
			content,
			writer)
		VALUES(
			#{seq},
			REPLY_SEQ.NEXTVAL,
			#{content},
			#{writer})
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="com.board.domain.ReplyDTO">
		UPDATE REPLY SET CONTENT = #{content}
		WHERE rseq = #{rseq}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="com.board.domain.ReplyDTO">
		DELETE FROM REPLY
		WHERE rseq = #{rseq}
	</delete>
	
	<!-- 선택된 댓글 조회 -->
	<select id="selectReply" resultType="com.board.domain.ReplyDTO">
		SELECT
				SEQ
			  , RSEQ
			  , CONTENT
			  , WRITER
			  , REGIST_DATE
		  FROM REPLY
		 WHERE RSEQ = #{rseq}
	</select>
</mapper>